---
import Layout from '../layouts/Layout.astro';
import WorkExperienceList from "../components/WorkExperienceList.astro";
import ProjectList from "../components/ProjectList.astro";
const pageTitle = "Manpreet";
---
<Layout pageTitle={pageTitle}>
    <h4>Manpreet</h4>
    <p>
        Hi,I'm Manpreet! I'm a software engineer with experience in full-stack development, focusing primarily
        on the back-end. I've worked with technologies like Java, Kotlin, AWS, and PostgreSQL during my internship,
        contributing to full-stack applications. I enjoy solving problems, working with teams, and building
        things that have real impact.
    </p>
    <WorkExperienceList/>
    <ProjectList/>
</Layout>

