---
import Project from "./Project.astro";
---

<style>
    .projects-container {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

    p {
        margin-top: 0;
    }
</style>

<h4>Projects</h4>
<p>
    Here are some of the projects I have worked on.
</p>
<div class="projects-container">
    <Project
            title="Statsify"
            techUsed={["Kotlin", "React", "Typescript", "Tailwind"]}
            links={[
                {name: "Code", url: "https://github.com/manpreeeeeet/statsify", openLinkInNewTab: true},
                {name: "Link", url: "https://statsify.me/", openLinkInNewTab: true},
            ]
            }
    >
        <Fragment slot="description">
            A Spotify app that displays your top artists, songs, and fun listening stats. It helps you find
            your most-played music and discover listening habits over time.
        </Fragment>
    </Project>

    <Project
            title="Portfolio"
            techUsed={["Astro", "Markdown"]}
            links={[
                {name: "Code", url: "https://github.com/manpreeeeeet/manpreeeeeet.github.io", openLinkInNewTab: true}]
            }
    >
        <Fragment slot="description">
            This website! My developer website to showcase my projects, technical skills, and experience.
        </Fragment>
    </Project>

    <Project
            title="Well Fed"
            techUsed={["Java", "Material-UI", "Firebase"]}
            links={[
                {name: "Code", url: "https://github.com/CMPUT301F22T02/well-fed", openLinkInNewTab: true}]
            }
    >
        <Fragment slot="description">
            A meal planning app that helps you keep track of your ingredients and suggests what to buy for upcoming
            meals. It also lets you plan your meals in advance and get new ideas for what to cook.
        </Fragment>
    </Project>
</div>