---
import Project from "./Project.astro";
---

<style>
    .projects-container {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }

    p {
        margin-top: 0;
    }
</style>

<h4>Projects</h4>
<p>
    Here are some of the projects I have worked on.
</p>
<div class="projects-container">
    <Project
            title="Well Fed"
            techUsed={["Java", "Material-UI", "Firebase"]}
            links={[
                {name: "Code", url: "https://github.com/CMPUT301F22T02/well-fed", openLinkInNewTab: true}]
            }
    >
        <Fragment slot="description">
            A meal planning app that helps you keep track of your ingredients and suggests what to buy for upcoming
            meals. It also lets you plan your meals in advance and get new ideas for what to cook.
        </Fragment>
    </Project>
</div>