---
interface Props {
    companyName: string;
    workDate: string;
    roleName: string;
}


const {companyName, workDate, roleName} = Astro.props;
---

<style>
    .work-card {
        display: flex;
        flex-direction: column;
        border: 1px solid #375a7f;
        border-radius: 5px;
        padding: 20px;
        font-size: 1rem;
    }

    .work-card > * {
        font-size: 0.8em;
    }

    .work-details {
        display: flex;
        justify-content: space-between;
    }

    h5 {
        margin: 0;
    }

    ul {
        padding-left: 0;
        margin-left: 0;
        list-style-position: inside;
    }
</style>

<div class="work-card">
    <div class="work-details">
        <h5 class="company-name">{companyName}</h5>
        <div>{workDate}</div>
    </div>
    <div>{roleName}</div>
    <ul>
        <slot/>
    </ul>
</div>
